@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
/*usando a fonte do repositorio do google*/
:root {
  --primary-color: #da5c5c;/*variaveis criadas do css, o root diz que estarao disponiveis em qualwuer lugar da aplicação*/
  --primary-hover-color: #a74b4b;
  --dark-color: #263238;
  --secondary-color: #9E9E9E;
  --light-color: #F5F5F5;
}

html, body {/*nao deixa espaçamento na barra de cima da pagina*/
  margin: 0;
  padding:0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;/*remove o sublinhado das tegs de link*/
}